extends global

block content
  h3 Welcome to Enthusiast
  p Find, remember, and talk about the cool things on the Web. 
    a(href='/register') Get started
  p Already have an account? 
    a(href='/login') Login