extends global

block styles
  link(rel='stylesheet' href='/css/index.css')

block content
  div.middlesex
    h1 Welcome to Enthusiast
    p Beautiful bookmarks for everything. 
      a(href='/register') Get started
    p Already have an account? 
      a(href='/login') Login

    img(src='/img/presentation2.png')