extends global

block styles
  link(rel='stylesheet', href='/css/static.css')

block scripts
  script(src='/js/static.js', type='text/javascript')

block content
  p
    h3= title
    a(href='/home') Home
  form(action='/home/pin' method='POST' id='pinForm')
    ul
      li
        input(type='text', id='url', placeholder='http://')
      li
        input(type='text', id='title', placeholder='title of page')
      li
        input(type='text', id='tags', placeholder='tags (seperate with commas)')
      li
        input(type='submit', name='submit', value='Save link')
  div.errors
    &nbsp;