@import 'nib'

body
  font 14px Grande, Helvetica, Arial, sans-serif
  margin 0px
  background-color #e0e0e0
  background-repeat no-repeat
  background-attachment fixed

a
  color #00B7FF

ul
  list-style none
  margin 0
  padding 0

.container
  position absolute
  width 100%
  height 100%
  display table

  > .inner
    display table-cell
    vertical-align top

    > .full
      width 645px
      margin auto
      margin-top 20px