.hint {
  position: fixed;
  top: 20px;
  left: 0px;
  right: 0px;
  z-index: 5;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
/*background-color #0C719E*/
  background-color: rgba(255,165,0,0.89);
  width: 460px;
  text-align: center;
  color: #fff;
  margin: auto;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 10px 4px #f5f5f5;
  box-shadow: 1px 1px 10px 4px #f5f5f5;
  display: none;
}
.pinIcon {
  position: fixed;
  top: -4px;
  margin-left: 650px;
  cursor: pointer;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  display: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  tranform: translateY;
}
.pinIcon.show {
  position: fixed;
  top: -4px;
}
.pinIcon:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
img.selectable {
  display: inline-block;
  margin: 5px;
  border: 1px solid #808080;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  max-width: 295px;
  cursor: pointer;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
img.selectable:hover {
  border: 1px solid #00f;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
img.active {
  border: 1px solid #00f;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.overlay.active {
  z-index: 10;
  background-color: rgba(1,1,1,0.5);
  cursor: -webkit-zoom-out;
}
div.page {
  float: left;
  z-index: 5;
}
div.page ul.sidebar {
  float: right;
  width: 50px;
  list-style: none;
  position: fixed;
  left: 50%;
  margin-left: 305px;
  display: none;
}
div.page ul.sidebar li {
  margin-bottom: 5px;
}
div.page ul.sidebar li img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  border: 0px solid #000;
}
div.page ul.sidebar li img.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  border: 0px solid #000;
}
div.page ul.sidebar li img:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
div.page ul.overall {
  float: left;
  width: 645px;
  margin-right: 5px;
}
div.page ul.overall > .title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  height: 150px;
  display: table;
  background: url("/img/cover.jpg");
  color: #fff;
/*box-shadow 1px 1px 5px #a0a0a0*/
}
div.page ul.overall > .title > .titleContainer {
  width: calc(100% - 20px);
  padding: 10px;
  display: table-cell;
  vertical-align: bottom;
  background: rgba(1,1,1,0.2);
}
div.page ul.overall > .title > .titleContainer > .titlePart {
  float: left;
}
div.page ul.overall > .title > .titleContainer > .titlePart > .titleLink {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
div.page ul.overall > .title > .titleContainer > .titlePart > .titleLink:hover {
  text-decoration: underline;
}
div.page ul.overall > .title > .titleContainer > .titlePart > .personal {
  font-size: 20px;
}
div.page ul.overall > .title > .titleContainer > .navLinks {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  float: right;
  position: relative;
  top: 5px;
}
div.page ul.overall > .title > .titleContainer > .navLinks > a {
  color: #fff;
}
div.page ul.overall > .pin {
  display: none;
  width: 645px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
  position: fixed;
  top: calc(50% - 91px);
  left: 0;
  right: 0;
  z-index: 50;
}
div.page ul.overall > .pin > .formContainer {
  width: 600px;
  padding: 10px;
  background-color: #f8f8f8;
  margin: 0 auto;
}
div.page ul.overall > .pin > .formContainer > .find > form > input {
  width: 300px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #d0d0d0;
}
div.page ul.overall > .pin > .formContainer > .find > form > input:focus {
  outline-width: 0px;
}
div.page ul.overall > .pin > .formContainer > .find > form > #find {
  background-color: rgba(0,183,255,0.64);
  padding: 6px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 0px solid #000;
  color: #fff;
  cursor: pointer;
}
div.page ul.overall > .pin > .formContainer > .find > form > #find:focus {
  outline-width: 0px;
}
div.page ul.overall > .pin > .formContainer > .find > form > #find:active {
  background-color: #00b7ff;
}
div.page ul.overall > .pin > .formContainer > .find > form > .loading {
  margin-left: 10px;
  color: #808080;
  font-size: 13px;
  display: none;
}
div.page ul.overall > .pin > .formContainer > .tagAndSave {
  display: none;
}
div.page ul.overall > .pin > .formContainer > .tagAndSave > .previewBox {
  float: left;
  width: 315px;
  background-color: #f8f8f8;
  position: fixed;
  top: calc(50% - 50px);
  margin-left: -22px;
}
div.page ul.overall > .pin > .formContainer > .tagAndSave > .previewBox > form input {
  width: 283px;
  padding: 5px;
  border: 1px solid #d0d0d0;
}
div.page ul.overall > .pin > .formContainer > .tagAndSave > .previewBox > form input:focus {
  outline-width: 0px;
}
div.page ul.overall > .pin > .formContainer > .tagAndSave > .previewBox > form button {
  background-color: rgba(0,183,255,0.64);
  padding: 6px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 0px solid #000;
  color: #fff;
  cursor: pointer;
}
div.page ul.overall > .pin > .formContainer > .tagAndSave > .previewBox > form button:focus {
  outline-width: 0px;
}
div.page ul.overall > .pin > .formContainer > .tagAndSave > .previewBox > form button:active {
  background-color: #00b7ff;
}
div.page ul.overall > .pin > .formContainer > .tagAndSave > .previewBox ul li.titleBox {
  margin-bottom: 3px;
  font-weight: normal;
  font-size: 14px;
  padding: 10px;
  padding-bottom: 0px;
}
div.page ul.overall > .pin > .formContainer > .tagAndSave > .previewBox ul li.tags {
  padding: 10px;
  padding-bottom: 7px;
  padding-top: 3px;
}
div.page ul.overall > .pin > .formContainer > .tagAndSave > .previewBox ul li.finish {
  padding: 10px;
  padding-top: 0px;
}
div.page ul.overall > .pin > .formContainer > .tagAndSave > .previewBox ul li.picture {
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 5px;
  text-align: center;
}
div.page ul.overall > .pin > .formContainer > .tagAndSave > .previewBox ul li.picture > img {
  width: 295px;
  max-height: calc(100% - 200px);
}
div.page ul.overall > .pin > .formContainer > .tagAndSave > .previewBox ul li.note {
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
}
div.page ul.overall > .pin > .formContainer > .tagAndSave > .imageOptions {
  width: 315px;
  position: fixed;
  margin-left: 308px;
  max-height: calc(100% - 100px);
  height: calc(100% - 100px);
  top: 50px;
  overflow-y: scroll;
  text-align: center;
  background-color: #f8f8f8;
}
div.page ul.overall > .pin > .formContainer > .tagAndSave > .imageOptions > #noImages {
  position: relative;
  bottom: 6px;
}
div.page ul.overall > .pin > .formContainer > .tagAndSave > form > input {
  width: 300px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #d0d0d0;
}
div.page ul.overall > .pin > .formContainer > .tagAndSave > form > input:focus {
  outline-width: 0px;
}
div.page ul.overall > .pin > .formContainer > .errors {
  margin-top: 5px;
  font-size: 13px;
}
div.page ul.overall > .body {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
div.page ul.overall > .body > .main {
  width: 645px;
  display: table;
}
div.page ul.overall > .body > .main > .tagsList {
  width: 155px;
  margin-left: 5px;
  vertical-align: top;
  display: none;
}
div.page ul.overall > .body > .main > .tagsList > .tags {
  padding: 15px;
  padding-top: 10px;
  width: 135px;
}
div.page ul.overall > .body > .main > .tagsList > .tags > .tagLink {
  text-decoration: none;
}
div.page ul.overall > .body > .main > .tagsList > .tags > .tagLink > span {
  display: inline-block;
  margin-top: 5px;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: rgba(69,146,153,0.6);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  overflow: auto;
}
div.page ul.overall > .body > .main > .tagsList > .tags > .tagLink > span:hover {
  background-color: #3c7b81;
}
div.page ul.overall > .body > .main > .tagsList > .tags > .tagLink > span.active {
  background-color: #3c7b81;
}
div.page ul.overall > .body > .main > .holder {
  position: absolute;
  top: 170px;
  z-index: 1;
  width: 645px;
  text-align: center;
}
div.page ul.overall > .body > .main > .holder > span {
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  margin: 0px auto;
  background-color: #ffa500;
  color: #f0f0f0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
div.page ul.overall > .body > .main > .links {
  width: 660px;
  display: table;
}
div.page ul.overall > .body > .main > .links > .noLinks {
  width: 165px;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 4px #a0a0a0;
  box-shadow: 1px 1px 4px #a0a0a0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: auto;
  visibility: hidden;
  margin-top: 15px;
}
div.page ul.overall > .body > .main > .links > .noLinks.ready {
  margin-top: 0px;
  visibility: visible;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY;
  -moz-transform: translateY;
  -o-transform: translateY;
  -ms-transform: translateY;
  transform: translateY;
}
div.page ul.overall > .body > .main > .links > .noLinks > span {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}
div.page ul.overall > .body > .main > .links > .noLinks > button {
  background-color: #139b13;
  padding: 6px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 0px solid #000;
  color: #fff;
  cursor: pointer;
  margin: auto;
  display: block;
  font-size: 16px;
}
div.page ul.overall > .body > .main > .links > .noLinks > button:focus {
  outline-width: 0px;
}
div.page ul.overall > .body > .main > .links > .noLinks > button:hover {
  background-color: #08b908;
}
div.page ul.overall > .body > .main > .links > .noLinks > button:active {
  background-color: #138813;
}
div.page ul.overall > .body > .main > .links > .flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  width: 315px;
  visibility: hidden;
  margin-top: 15px;
  z-index: 2;
}
div.page ul.overall > .body > .main > .links > .flip-container.ready {
  margin-top: 0px;
  visibility: visible;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateY;
  -moz-transform: translateY;
  -o-transform: translateY;
  -ms-transform: translateY;
  transform: translateY;
}
div.page ul.overall > .body > .main > .links > .flip-container.flip .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 315px;
  background-color: #f8f8f8;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: table;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .backside > .inside {
  display: table-cell;
  vertical-align: middle;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .backside > .inside > .inthebox {
  margin: auto;
  width: 300px;
  text-align: center;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .backside > .inside > .inthebox > .fb-share-button {
  display: block;
  margin-bottom: 5px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .backside > .inside > .inthebox > a {
  margin-bottom: 5px;
  display: block;
  text-decoration: none;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .backside > .inside > .inthebox > a.deleteLink {
  color: #f00;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .backside > .inside > .inthebox > a.updateLink {
  color: #008000;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .backside > .inside > .inthebox > a:hover {
  text-decoration: underline;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .backside > .inside > .inthebox > a.easterEggToggle {
  color: #000;
  position: absolute;
  top: 10px;
  right: 10px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox {
  width: 315px;
  cursor: pointer;
  background-color: #f8f8f8;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
/*box-shadow 1px 1px 4px #b0b0b0*/
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox:hover {
  -webkit-box-shadow: 1px 1px 2px #a0a0a0;
  box-shadow: 1px 1px 2px #a0a0a0;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox:hover > ul > li.url > .link {
  text-decoration: none;
  color: rgba(0,0,0,0.5);
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.titleBox {
  margin-bottom: 3px;
  font-weight: normal;
  font-size: 14px;
  padding: 10px;
  padding-bottom: 0px;
  cursor: pointer;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.titleBox:hover {
  text-decoration: none;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.matches {
  position: relative;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 5px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.matches > .other {
  color: rgba(0,0,0,0.5);
  font-size: 12px;
  text-decoration: none;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.matches > .icon-tag {
  color: #ceae5b;
  margin-right: 5px;
  font-size: 12px;
  position: relative;
  top: 2px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.url {
  position: relative;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 5px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.url > .link {
  color: rgba(0,0,0,0.5);
  text-decoration: none;
  font-size: 12px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.url > .icon-world-2 {
  color: #0a530a;
  margin-right: 6px;
  font-size: 12px;
  position: relative;
  top: 2px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.date {
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.date > .time {
  color: rgba(0,0,0,0.5);
  font-size: 12px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.date > .icon-time {
  color: #be3030;
  margin-right: 6px;
  font-size: 12px;
  position: relative;
  top: 2px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.date > .icon-time:hover {
  color: #f00;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.picture {
  padding: 10px;
  max-height: 500px;
  overflow: hidden;
  min-height: 0px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.picture > img {
  margin: 0px;
  padding: 0px;
  width: 295px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.change {
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 5px;
  font-size: 13px;
  color: #a0a0a0;
  display: none;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.change > a {
  color: #a0a0a0;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.change > a:hover {
  color: #000;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.tagsBox {
  display: none;
  padding: 10px;
  padding-top: 0px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.tagsBox > input.tags {
  width: 250px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #d0d0d0;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.tagsBox > input.tags:focus {
  outline-width: 0px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.tagsBox > button {
  background-color: rgba(0,183,255,0.64);
  padding: 6px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 0px solid #000;
  color: #fff;
  cursor: pointer;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.tagsBox > button:focus {
  outline-width: 0px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.tagsBox > button:active {
  background-color: #00b7ff;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.note {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 9px;
  background-color: #f0f0f0;
  font-size: 13px;
  color: #333;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.break {
  margin-bottom: 2px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.break.tags {
  margin-bottom: 5px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.break.main {
  margin-bottom: 0px;
  padding: 5px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.tags {
  color: rgba(1,1,1,0.6);
  padding-left: 10px;
  padding-right: 10px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.tags > .icon-tag {
  color: #808080;
  margin-right: 5px;
  font-size: 13px;
  position: relative;
  top: 2px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.tags > .tagLink {
  text-decoration: none;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.tags > .tagLink > .tag {
  display: inline-block;
  margin-right: 3px;
  margin-top: 5px;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: rgba(69,146,153,0.9);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.2px;
}
div.page ul.overall > .body > .main > .links > .flip-container .flipper .linkBox > ul > li.tags > .tagLink > .tag:hover {
  background-color: #3c7b81;
}
