@import 'nib'

.pinIcon
  position fixed
  top -4px
  margin-left 650px
  cursor pointer
  opacity 0.8
  display none
  transition 0.3s
  tranform translateY

  &.show
    position fixed
    top -4px

  &:hover
    opacity 1

img
  &.selectable
    display inline-block
    margin 5px
    border 1px solid gray
    border-radius 3px
    max-width 295px
    cursor pointer
    opacity 0.5

    &:hover
      border 1px solid blue
      opacity 1
  &.active
    border 1px solid blue
    opacity 1

.overlay
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  z-index 0

  &.active
    z-index 10
    background-color rgba(1,1,1,0.5)
    cursor -webkit-zoom-out

div.page
  float left
  z-index 5

  ul.sidebar
    float right
    width 50px
    list-style none
    position fixed
    left 50%
    margin-left 305px
    display none

    li
      margin-bottom 5px

      img
        width 40px
        height 40px
        cursor pointer
        opacity 0.5
        border 0px solid black

        &.active
          opacity 1
          border 0px solid black

        &:hover
          opacity 1

  ul.overall
    float left
    width 645px
    margin-right 5px

    > .title
      display block
      width 100%
      margin 0
      padding 0
      margin-bottom 15px
      height 150px
      display table
      background url('/img/cover.jpg')
      color white
      /*box-shadow 1px 1px 5px #a0a0a0*/

      > .titleContainer
        width calc(100% - 20px)
        padding 10px
        display table-cell
        vertical-align bottom
        background rgba(1,1,1,0.2)

        > .titlePart
          float left

          > .titleLink
            font-weight bold
            text-decoration none
            color white
            font-size 20px

            &:hover
              text-decoration underline

          > .personal
            font-size 20px

        > .navLinks
          display inline-block
          padding 0px
          margin 0px
          float right
          position relative
          top 5px

          > a
            color white

    > .pin
      display none
      width 645px
      margin 0 auto
      margin-top 10px
      margin-bottom 15px
      position fixed
      top calc(50% - 91px)
      left 0
      right 0
      z-index 50

      > .formContainer
        width 600px
        padding 10px
        background-color #f8f8f8
        margin 0 auto

        > .find

          > form

            > input
              width 300px
              padding 5px
              margin-top 5px
              margin-bottom 5px
              border 1px solid #d0d0d0

              &:focus
                outline-width 0px

            > #find
              background-color rgba(0, 183, 255, 0.64)
              padding 6px
              padding-right 10px
              padding-left 10px
              border-radius 2px
              border 0px solid black
              color white
              cursor pointer

              &:focus
                outline-width 0px

              &:active
                background-color rgba(0, 183, 255, 1)

            > .loading
              margin-left 10px
              color gray
              font-size 13px
              display none

        > .tagAndSave
          display none

          > .previewBox
            float left
            width 315px
            background-color #f8f8f8
            position fixed
            top calc(50% - 50px)
            margin-left -22px

            > form
              input
                width 283px
                padding 5px
                border 1px solid #d0d0d0

                &:focus
                  outline-width 0px

              button
                background-color rgba(0, 183, 255, 0.64)
                padding 6px
                padding-right 10px
                padding-left 10px
                border-radius 2px
                border 0px solid black
                color white
                cursor pointer

                &:focus
                  outline-width 0px

                &:active
                  background-color rgba(0, 183, 255, 1)

            ul
              li
                &.titleBox
                  margin-bottom 3px
                  font-weight normal
                  font-size 14px
                  padding 10px
                  padding-bottom 0px
                &.tags
                  padding 10px
                  padding-bottom 7px
                  padding-top 3px
                &.finish
                  padding 10px
                  padding-top 0px
                &.picture
                  padding 10px
                  padding-top 0px
                  padding-bottom 5px
                  text-align center

                  > img
                    width 295px
                    max-height calc(100% - 200px)


          > .imageOptions
            width 315px
            position fixed
            margin-left 308px
            max-height calc(100% - 100px)
            height calc(100% - 100px)
            top 50px
            overflow-y scroll
            text-align center
            background-color #f8f8f8

            > #noImages
              position relative
              bottom 6px

          > form

            > input
              width 300px
              padding 5px
              margin-top 5px
              margin-bottom 5px
              border 1px solid #d0d0d0

              &:focus
                outline-width 0px

        > .errors
          margin-top 5px
          font-size 13px

    > .body
      display block
      width 100%
      margin 0
      padding 0
      margin-top 10px

      > .main
        width 645px
        display table

        > .tagsList
          width 155px
          margin-left 5px
          vertical-align top
          display none

          > .tags
            padding 15px
            padding-top 10px
            width 135px

            > .tagLink
              text-decoration none

              > span
                display inline-block
                margin-top 5px
                padding 4px
                padding-left 6px
                padding-right 6px
                background-color rgba(69, 146, 153, 0.6)
                border-radius 3px
                color #fff
                font-size 13px
                overflow auto

                &:hover
                  background-color rgba(60, 123, 129, 1)

                &.active
                  background-color rgba(60, 123, 129, 1)

        > .holder
          position absolute
          top 170px
          z-index 1
          width 645px
          text-align center

          > span
            padding 5px
            padding-left 7px
            padding-right 7px
            margin 0px auto
            background-color orange
            color #f0f0f0
            border-radius 3px

        > .links
          width 660px
          display table

          > .noLinks
            width 165px
            padding 10px
            background-color white
            box-shadow 1px 1px 4px #a0a0a0
            border-radius 3px
            margin auto
            visibility hidden
            margin-top 15px

            &.ready
              margin-top 0px
              visibility visible
              transition 0.5s
              transform translateY

            > span
              display block
              text-align center
              margin-bottom 10px
              font-size 15px
              font-weight bold
              color black

            > button
              background-color rgb(19, 155, 19)
              padding 6px
              padding-right 10px
              padding-left 10px
              border-radius 2px
              border 0px solid black
              color white
              cursor pointer
              margin auto
              display block
              font-size 16px

              &:focus
                outline-width 0px

              &:hover
                background-color #08B908

              &:active
                background-color #138813


          > .flip-container
            perspective 1000
            width 315px
            visibility hidden
            margin-top 15px
            z-index 2

            &.ready
              margin-top 0px
              visibility visible
              transition 0.4s
              transform translateY

            &.flip
              .flipper
                transform rotateY(180deg)

            .flipper
              transition 0.6s
              transform-style preserve-3d
              position relative

              .backside
                backface-visibility hidden
                position absolute
                top 0
                left 0
                width 315px
                background-color #f8f8f8
                transform rotateY(180deg)
                display table

                > .inside
                  display table-cell
                  vertical-align middle

                  > .inthebox
                    margin auto
                    width 300px
                    text-align center

                    > .fb-share-button
                      display block
                      margin-bottom 5px

                    > a
                      margin-bottom 5px
                      display block
                      text-decoration none

                      &.deleteLink
                        color red

                      &.updateLink
                        color green

                      &:hover
                        text-decoration underline

                      &.easterEggToggle
                        color black
                        position absolute
                        top 10px
                        right 10px

              .linkBox
                width 315px
                cursor pointer
                background-color #f8f8f8
                backface-visibility hidden
                position absolute
                top 0
                left 0
                z-index 3
                /*box-shadow 1px 1px 4px #b0b0b0*/

                &:hover
                  box-shadow 1px 1px 2px #a0a0a0

                  > ul
                    > li
                      &.url
                        > .link
                          text-decoration none
                          color rgba(0,0,0,0.5)

                      &.titleBox
                        /*text-decoration underline*/

                > ul
                  > li
                    &.titleBox
                      margin-bottom 3px
                      font-weight normal
                      font-size 14px
                      padding 10px
                      padding-bottom 0px
                      cursor pointer

                      &:hover
                        text-decoration none

                    &.matches
                      position relative
                      padding 10px
                      padding-top 0px
                      padding-bottom 5px

                      > .other
                        color rgba(0, 0, 0, 0.5)
                        font-size 12px
                        text-decoration none

                      > .icon-tag
                        color rgb(206, 174, 91)
                        margin-right 5px
                        font-size 12px
                        position relative
                        top 2px

                    &.url
                      position relative
                      padding 10px
                      padding-top 0px
                      padding-bottom 5px

                      > .link
                        color rgba(0,0,0,0.5)
                        text-decoration none
                        font-size 12px
                      > .icon-world-2
                        color rgb(10, 83, 10)
                        margin-right 6px
                        font-size 12px
                        position relative
                        top 2px

                        &:hover
                          /*color #269126*/

                    &.date
                      padding 10px
                      padding-top 0px
                      padding-bottom 10px

                      > .time
                        color rgba(0,0,0,0.5)
                        font-size 12px

                      > .icon-time
                        color rgb(190, 48, 48)
                        margin-right 6px
                        font-size 12px
                        position relative
                        top 2px

                        &:hover
                          color #FF0000

                    &.picture
                      padding 10px
                      max-height 500px
                      overflow hidden
                      min-height 0px

                      > img
                        margin 0px
                        padding 0px
                        width 295px

                    &.change
                      padding 10px
                      padding-top 0px
                      padding-bottom 5px
                      font-size 13px
                      color #a0a0a0
                      display none

                      > a
                        color #a0a0a0

                        &:hover
                          color black

                    &.tagsBox
                      display none
                      padding 10px
                      padding-top 0px

                      > input.tags
                        width 250px
                        padding 5px
                        margin-top 5px
                        margin-bottom 5px
                        border 1px solid #d0d0d0

                        &:focus
                          outline-width 0px

                      > button
                        background-color rgba(0, 183, 255, 0.64)
                        padding 6px
                        padding-right 10px
                        padding-left 10px
                        border-radius 2px
                        border 0px solid black
                        color white
                        cursor pointer

                        &:focus
                          outline-width 0px

                        &:active
                          background-color rgba(0, 183, 255, 1)

                    &.tags
                      color rgba(1,1,1,0.6)
                      padding-left 10px
                      padding-right 10px
                      margin-bottom 2px

                      > .icon-tag
                        color gray
                        margin-right 5px
                        font-size 13px
                        position relative
                        top 2px

                      > .tagLink
                        text-decoration none

                        > .tag
                          display inline-block
                          margin-right 3px
                          margin-top 5px
                          padding 4px
                          padding-left 6px
                          padding-right 6px
                          background-color rgba(69, 146, 153, 0.9)
                          border-radius 3px
                          color white
                          font-size 11px
                          letter-spacing 0.2px

                          &:hover
                            background-color rgba(60, 123, 129, 1)